__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
ENV/
env/

instance/
.webassets-cache

.vscode/
.idea/

*.h5
*.pkl
*.joblib

*.log

.DS_Store
Thumbs.db

.pytest_cache/
*.sqlite3
.ipynb_checkpoints/
*.pid
node_modules/
